.navbar
{
    background-color: black;
    color: white;
    padding: 0 4%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.left
{
    display: flex;
    align-items: center;
    gap: 40px;
}   
.logo
{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.logo-S
{
    color: #e50914;
}
.ham-menu
{
    width: 25px;
    cursor: pointer;
}
.right
{
    display: flex;
    align-items: center;
    gap: 500px;
}   
.search-bar img
{
    width: 20px;
    cursor: pointer;

}
.subscribe
{
    background-color: orangered;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
body
{
    margin: 0;
    background-color: black;
    padding-top: 70px;
}