
.HeroImage
{
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    height: 100%;
}


nav
{
    color: white;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid red;
}
.content
{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.ham-menu
{
    
    text-align: left;
    width: 30px;
    cursor: pointer;
    font-size: 30px;
    color: grey;
    border: 5px solid white;
    width: 50%;
}
.logo
{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    font-family:'segoe ui', sans-serif;
    width: 50%;
    align-content:end;
    border: 5px solid blue;


}
.logo-S
{
    color: #e50914;
}
.ham_logo{
     width: 70%;
     border: 5px solid yellow;
     display: flex;
     align-items: center;

}

.search-btn{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 30%;
    height: 100%;
    border: 5px solid aqua;

}

.search-bar
{
    width: 50%;
    cursor: pointer;
    align-content: center;
    border: 5px solid green;
}
.search-bar img {
    width: 30px;
    height: 30px;
}
.subscribe
{
    background-color: rgb(230, 7, 7);
    color: white;
    font-weight:bolder;
    font-size: 20px;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 5px solid purple;
} 

.subscribe:hover {
  background-color: #e84118; 
  transform: scale(1.05);    
}

/*@media  width: 1280px */

/* @media (width <= 1280px) and (width >= 1024 ){
    .HeroImage
{
    width: 100%;
}

.HeroContainer
{
    width: 100%;

}

.search-btn{
    margin-left: 250px;

}
.logo
{
    font-size: 30px;
    margin-left: 350px;
}
} */


/* @media width: 1024px */
/* @media (max-width: 1024px){
.HeroImage
{
    width: 100%;
}

.search-btn{
    display: flex;
    text-align: center;
    margin-left: 80px;

}
.logo
{
    font-size: 30px;
    font-weight: bold;
    font-family:'segoe ui', sans-serif;
    margin-left: 220px;
}
} */

/* @media width: 853px */
/* @media (max-width: 853px){
.HeroImage
{
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    width: 70%;
}
.search-btn{
    display: flex;
    text-align: center;
    margin-left: 150px;

}
.logo
{
    font-size: 30px;
    font-weight: bold;
    font-family:'segoe ui', sans-serif;
    margin-left: 200px;
}
} */

/* media query for 768px (tablet) */
/* @media (width >= 768px){
.content{
    width: 100%;

}
.logo{
    font-size: 20px;
}
.search-btn{
    margin-right: 100px;
}
.subscribe{
    margin-right: 50px;
    padding: 8px 18px;
}
.search-bar{
    width: 1px;
    height: 1px;
}
.ham-menu{
    margin-left: 50px;
}
} */

/* media query for 320px (mobile) */
/* @media (width >= 320px){

.HeroImage
{
    width: 100%;
}
.content{
    width: 100%
}
.search-btn{
    display: flex;
    text-align: center;
    margin-left: 30px;

}
.logo
{
    font-size: 20px;
    font-weight: bold;
    font-family:'segoe ui', sans-serif;
    margin-left: 20px;
}
.subscribe
{
    background-color: rgb(230, 7, 7);
    color: white;
    margin-left: 80px;
     margin-top: 10px;
    margin-right: 5px;
    font-weight:bolder;
    font-size: 10px;
    padding: 6px 12px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
} 
.search-bar
{
    width: 1px;
    height:1px;
    margin-left: 10px;

}

.ham-menu
{
    margin-left: 0;
    width: 20px;
    cursor: pointer;
    font-size: 20px;
    color: grey;
    margin-left: 10px;
}
} */