
*
{
    margin: 0;
    padding: 0;
    

}

nav
{
    color: white;
    height: 10%;;
}
.content
{
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
}
.ham-menu
{
    margin-left: 50px;
    width: 30px;
    cursor: pointer;
    font-size: 30px;
    color: grey;
}
.logo
{
    font-size: 30px;
    font-weight: bold;
    font-family:'segoe ui', sans-serif;
    margin-left: 750px


}
.logo-S
{
    color: #e50914;
}
.search-bar
{
    width: 2px;
    height:2px;
    cursor: pointer;
    top: 5px;
    bottom: 15px;
    margin-left: 450px;
    margin-top: 5px;
    margin-bottom: 50px;
}
.subscribe
{
    background-color: rgb(230, 7, 7);
    color: white;
    /* margin-left: 100px; */
    margin-top: 10px;
    margin-right: 5px;
    font-weight:bolder;
    font-size: 20px;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}