
.HeroContent{
    color:LIGHTGRAY;
    margin-left: 70px;
    margin-top: 250px;
    flex-direction: wrap;
}

.Description_playBtn
{
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;

}
.netflix
{
    font-family: Anton, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.author
{
    color: green;
     font-family: Anton, sans-serif;
     font-weight: 400;
     font-style: normal;
}
.title
{
    font-Family: Bebas Neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
.description
{
    font-size:medium;
    flex-wrap: wrap;
}



/* @media width: 375px */
@media (width>= 375px) and (width <=500px){
.HeroContent{
    margin-left: 5px;
    margin-top: 50px;
}
.PlayButton img {
    width: 10px;
    height: 10px;
}
.Description_playBtn
{

    gap: 5px;
    width: 50%

}
    
.netflix{
    font-size: small;
}    

.author
{
    font-size: small;
}
.title
{
     font-size: 20px;
}

.description
{
    font-size:small;
}
.streaming{
    font-size: 12px;
}
}
