

.MainSection
{
    box-sizing: border-box;
    background-color: black;
    padding-top: 100px;
    flex-wrap: wrap;
}
.LR_Content
{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
}
.LR_Topic
{
    color:red;
    text-align: center;
    width: 30%;
    font-size: 40px;
    font-Family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.LR_pics
{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    width: 70%;
    height: 300px;
    border: 5px solid red;
}


.TT_Content
{
    display: flex;
    text-align: center;
    width: 100%;
    padding-top: 70px;
    /* flex-wrap: wrap; */
}
.TT_Topic
{
    width: 30%;
    text-align: center;
    color: red;
    font-size: 40px;
    font-Family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.TT_pics
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    height: 300px;
    border: 5px solid red;
}


.SG_Content
{
    width:100%;
    display: flex;
    padding-top: 70px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.SG_Topic
{
    width: 30%;
    text-align: center;
    border: 5px solid yellow;
    color:red;
    font-size: 40px;
    font-Family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.SG_pics
{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 5px;
    height: 300px;
    font-size: 15px;
    color: white;
    border: 5px solid red;

}
.romantic
{
    background-color: red;
    width: 220px;
}
.romanticComedy
{
    background-color: purple;
    width: 220px;
}
.thriller
{
    background-color: darkcyan;
    width: 220px;

}

.adventure
{
    background-color: rgb(255, 193, 38);
    width: 220px;
}


/* .LR_pics{
    width: 120px;
    height: 200px;
}
.TT_pics{
    width: 120px;
    height: 200px;
} */


/* media query for 768px (tablet) */
/* @media (width >= 767px) and (width <= 1024) {
.LR_Content{
    gap: 5px;
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
}
.LR_Topic
{
    font-size: 18px;
    width: 20%;
}
.LR_pics
{
    gap: 5px;
    width: 80%;
    flex-wrap: wrap;
}
.LR_pics img{
    width: 50px;
    height: 100px;
}
.TT_Content
{
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 100px;
}  
.TT_Topic
{
font-size: 18px;
width: 20%;
} 
.TT_pics img
{
    width: 80%;
    flex-wrap: wrap;
    width: 60px;
    height:120px;
}  



} */

/* media query for 320px (mobile) */
 @media (width >= 375px) and (width <= 766px) {
.LR_Content{
    display: flex;
    height: 100vh;
}
.LR_Topic
{
    font-size: 18px;
    width: 20%;
}
.LR_pics{
    flex-wrap: wrap;
    width:80%;
    gap:2px
    
}
.LR_pics img
{
    flex-wrap: wrap;
    width:50px;
    height: 100px
}
.TT_Content
{
   display: flex;
    height: 100vh; 
}  
.TT_Topic
{
 font-size: 18px;
 width: 20%;
} 
.TT_pics
{
    flex-wrap: wrap;
    width:80%;
    gap:2px

}
.TT_pics img{
    flex-wrap: wrap;
    width:50px;
    height: 100px
}

} 

