

.MainSection
{
    box-sizing: border-box;
    background-color: black;
    padding-top: 100px;
}
.LR_Content
{
    display: flex;
    gap: 50px;
    margin-left: 80px;
}
.LR_Topic
{
    color:red;
    font-size: 30px;
    font-Family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.LR_pics
{
    display: flex;
    gap: 10px;
    width: 140px;
    height: 240px;
}


.TT_Content
{
    display: flex;
    gap:50px;
    margin-left: 80px;
    padding-top: 70px;
}
.TT_Topic
{
    color: red;
    font-size: 30px;
    font-Family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.TT_pics
{
    display: flex;
    width: 150px;
    height: 250px;
    gap: 10px;
}


.SG_Content
{
    display: flex;
    gap: 50px;
    padding-top: 70px;
    padding-left: 80px;
    padding-bottom: 50px;
}
.SG_Topic
{
    color:red;
    font-size: 30px;
    font-Family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.SG_pics
{
    display: flex;
    gap: 10px;

}
.romantic
{
    background-color: red;
    color: white;
    width: 150px;
    height: 250px;
    font-size: 15px;
    padding: 10px 10px;
}
.romanticComedy
{
    background-color: purple;
    color: white;
    width: 150px;
    height: 250px;
    font-size: 15px;
    padding: 10px 10px;
}
.thriller
{
    background-color: darkcyan;
    color: white;
    width: 150px;
    height: 250px;
    font-size: 15px;
    padding: 10px 10px;
}
.comedy{
    background-color:darkgoldenrod;
    color: white;
    width: 150px;
    height: 250px;
    font-size: 15px;
    padding: 10px 10px;
}
.adventure
{
    width: 150px;
    height: 250px;
    background-color: aquamarine;
    color: white;
    font-size: 15px;
    padding: 10px 10px;
}

@media (width >= 1024px){
.LR_pics{
    width: 120px;
    height: 200px;
}
.TT_pics{
    width: 120px;
    height: 200px;
}
}

/* media query for 768px (tablet) */
@media (width >= 768px){
.LR_Content{
    gap: 10px;
    margin-left: 20px;
}
.LR_Topic
{
    font-size: 20px;
}
.LR_pics
{
    gap: 5px;
    width: 100px;
    height:180px;
}
.TT_Content
{
    gap: 10px;
    margin-left: 20px
}  
.TT_Topic
{
font-size: 20px;
} 
.TT_pics
{
    gap: 5px;
    width: 100px;
    height:180px;
}  

.SG_Content
{
    gap: 10px;
   
}
.SG_Topic
{
  margin-right: 50px;
  font-size: 20px;
}
.SG_pics
{
    gap: 5px;
}
.romantic
{
    gap: 5px;
    width: 100px;
    height:180px;
}
.romanticComedy
{
     gap: 5px;
    width: 100px;
    height:180px;
}
.thriller
{
     gap: 5px;
    width: 100px;
    height:180px;
}
.comedy{
     gap: 5px;
    width: 100px;
    height:180px;
}
.adventure
{
    gap: 5px;
    width: 100px;
    height:180px;
}

}

/* media query for 320px (mobile) */
@media (width <= 320px){
.LR_Content{
    gap: 5px;
    margin-left: 5px;
    
}
.LR_Topic
{
    font-size: 12px;
}
.LR_pics
{
    gap: 5px;
    width: 35px;
    height:70px;
}
.TT_Content
{
    gap: 5px;
    margin-left: 5px;
}  
.TT_Topic
{
font-size: 12px;
} 
.TT_pics
{
    gap: 5px;
    width: 35px;
    height:70px;

}

.SG_Content{
    gap: 5px;
    margin-right: 50px;
}
.SG_Topic
{
  font-size: 12px;
}
.SG_pics
{
    gap: 5px;
}
.romantic
{
    width: 35px;
    height:70px
}
.romanticComedy
{
    width: 35px;
    height:70px
}
.thriller
{
    width: 35px;
    height:70px
}
.comedy{
    width: 35px;
    height:70px
}
.adventure
{
    width: 35px;
    height:70px
}

}

