

.MainSection
{
    box-sizing: border-box;
    background-color: black;
    padding-top: 100px;
}
.LR_Content
{
    display: flex;
    gap: 50px;
    margin-left: 80px;
}
.LR_Topic
{
    color:red;
    font-size: 30px;
}
.LR_pics
{
    display: flex;
    gap: 10px;
    width: 140px;
    height: 240px;
}


.TT_Content
{
    display: flex;
    gap:50px;
    margin-left: 90px;
    padding-top: 70px;
}
.TT_Topic
{
    color: red;
    font-size: 30px;
}
.TT_pics
{
    display: flex;
    width: 150px;
    height: 250px;
    gap: 10px;
}


.SG_Content
{
    display: flex;
    gap: 60px;
    padding-top: 70px
}
.SG_Topic
{
    color:red;
    font-size: 30px;
    margin-left: 80px;
}
.SG_pics
{
    display: flex;
    gap: 15px;

}
.romantic
{
    background-color: red;
    color: white;
    width: 160px;
    height: 250px;
}
.romanticComedy
{
    background-color: purple;
    color: white;
    width: 160px;
    height: 250px;
}
.thriller
{
    background-color: darkcyan;
    color: white;
    width: 160px;
    height: 250px;
}
.comedy{
    background-color:darkgoldenrod;
    color: white;
    width: 160px;
    height: 250px;
}
.adventure
{
    width: 160px;
    height: 250px;
    background-color: aquamarine;
    color: white;
}

@media (max-width: 1280px){
.LR_Content{
    gap: 90px;
    margin-left: 50px;
}
.LR_Topic
{
  font-size: 20px;
 
}
.LR_pics
{
    gap: 5px;
    width: 100px;
    height: 200px;
}
.TT_Content
{
    gap: 90px;
    margin-left: 50px;
}
.TT_pics{
    gap: 5px;
    width: 100px;
    height: 200px 
}
.SG_Content
{
    gap: 90px;
    margin-left: 50px;
    
}
.romantic
{
       width: 100px;
    height: 200px 
}
.romanticComedy
{
      width: 100px;
    height: 200px 
}
.thriller
{
    width: 100px;
    height: 200px ;
}
.comedy{
        width: 100px;
    height: 200px 
}
.adventure
{
      width: 100px;
    height: 200px 
}

}