.footer
{
    background-color: black;
    color:lightgray;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}
.logo
{
    font-size: 30px;
}
.s_logo
{
    color: red
}
.email {
    display:flex;
    gap: 5px;
    width: 20px;
    height: 20px;
}
h3 {
    font-size: 13px;
    margin-top: 6px;
}
.phone
{
    display: flex;
    gap: 5px;
    width: 20px;
    height: 20px;
}
.company
{
    display:row;

}
.Socials 
{
    display: inline-flex;
    gap: 10px;
}

/* @media (width>= 1024px){
    
} */
/* media query for 320px (mobile) */
@media (min-width: 320px){
.footer .logo{
    margin: 0;
}
}