*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    box-sizing: border-box;
    height: 100vh;
}

/* media query for 1024px (desktop) */
@media (width >= 1024px){
    
}

/* media query for 768px (tablet) */
@media (width >= 768px){


}

/* media query for 320px (mobile) */
@media (width >= 320px){

}